html
{
  overflow-y: scroll;
}
body {
    background: url('/static/images/background.png') #000 no-repeat center top;
}

#main {
    background:url('/static/images/trans.png');
    width:750px;
    margin:40px auto 20px -395px;
    border:1px solid #000;
    float:left;
    position:relative;
    left:50%;
    padding:10px 20px;
}

#editor_area {
}

#editor_area #title_field, #editor_area #author_field, #editor_area .section_field {
    background: #DDD;
}

#editor_area .section_editor {
    display:block;
    width:30px;
    height:400px;
}

#editor_area .section_container {
    width:730px;
    margin:0 auto;
}

#logo {
    margin-bottom:5px;
}

#login-status {
    border-bottom:1px solid #000;
    margin-top:0;
}


#document_table {
    border-collapse:collapse;
    width:100%;
}
#document_table thead tr{
    white-space:nowrap;
    background: darkcyan;
    padding: 0px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}
#document_table tbody tr {
    cursor:pointer;
}
#document_table a:visited {
    color:blue;
}

#document_table tbody tr:hover {
    background: #CCC;
}

#document_table .col_title {
    width: 100%;
    padding-left: 10px;
}
#document_table tbody tr td {
    padding: 2px 40px;
}
#document_table .col_word_count {
    padding-right:10px;
}
#document_table .col_created, #document_table .col_modified, #document_table .col_word_count {
    white-space:nowrap;
    text-align: center;
}

#inst_login {
}

#inst_login > table {
    margin:0 auto;
    border: 1px solid #000;
    border-spacing: 30px 10px;
}
#inst_login > table td{
    text-align:center;

}


#pedagogue_activate_form, #institution_activate_form {
    border:1px solid #000;
    width:220px;
    padding:10px;
    display:block;
    text-align:center;
    background:#BBB;
}
#pedagogue_activate_form:hover, #institution_activate_form:hover {
    background:#DDD;
}
#institution_login, #pedagogue_activate_form {
    display:none;
}
