/* CSS Reset http://developer.yahoo.com/yui/reset/ */
html{
	color:#000;
	background:#FFF;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td {
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img {
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
li {
	list-style:none;
}
caption,
th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym {
	border:0;
	font-variant:normal;
}
sup {
	vertical-align:text-top;
}
sub {
	vertical-align:text-bottom;
}
input,textarea,select {
	font-family:inherit;
	font-size:inherit;
	font-weight:inherit;
}
input,textarea,select {
	*font-size:100%;
}
legend {
	color:#000;
}

/* http://developer.yahoo.com/yui/base/ */
h1 {
	font-size:138.5%;  
}
h2 {
	font-size:123.1%; 
}
h3 {
	font-size:108%;  
}
h1,h2,h3 {
	margin:1em 0;
}
h1,h2,h3,h4,h5,h6,strong {
	font-weight:bold; 
}
abbr,acronym {
	border-bottom:1px dotted #000;
	cursor:help;
} 
em {
	font-style:italic;
}
blockquote,ul,ol,dl {
	margin:1em;
}
ol,ul,dl {
	margin-left:2em;
}
ol li {
	list-style: decimal outside;	
}
ul li {
	list-style: disc outside;
}
dl dd {
	margin-left:1em;
}
th,td {
	border:1px solid #000;
	padding:.5em;
}
th {
	font-weight:bold;
	text-align:center;
}
caption {
	margin-bottom:.5em;
	text-align:center;
}
p,fieldset,table,pre {
	margin-bottom:1em;
}
input[type=text],input[type=password],textarea {
    width:12.25em;
    *width:11.9em;
}

/* http://developer.yahoo.com/yui/fonts/ */
body {
	font:13px/1.231 arial,helvetica,clean,sans-serif;
	*font-size:small; /* for IE */
	*font:x-small; /* for IE in quirks mode */
}
select,input,button,textarea {
	font:99% arial,helvetica,clean,sans-serif;
}
table {
	font-size:inherit;
	font:100%;
}
pre,code,kbd,samp,tt {
	font-family:monospace;
	*font-size:108%;
	line-height:100%;
}


html
{
  overflow-y: scroll;
  background: url('/static/images/background.png') #292929 repeat-x center top fixed;
}

body {
    float:left;
    width:100%;
}

#main {
    width:750px;
    margin:40px auto 180px -395px;
    border:1px solid #000;
    float:left;
    position:relative;
    left:50%;
    padding:10px 20px;
}

#editor_area {
}

#editor_area #title_field, #editor_area #author_field, #editor_area .section_field {
    background: #DDD;
}

#editor_area .section_editor {
    display:block;
    width:30px;
    height:400px;
}

#editor_area .section_container {
    width:730px;
    margin:0 auto;
}

#logo-img {
    float: left;
}
#section-header {
    margin:0 0 6px 0;
    padding:5px;
    float:right;
    width:481px;
    background:#E97F02;
    color:#FFF;
    border:1px solid #000;
    text-align:right;
}
#section-header > img {
    vertical-align:middle;
    padding-right:5px;
}

#document_table {
    border-collapse:collapse;
    width:100%;
}
#document_table thead tr{
    white-space:nowrap;
    background: darkcyan;
    padding: 0px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}
#document_table tbody tr {
    cursor:pointer;
}
#document_table a:visited {
    color:blue;
}

#document_table tbody tr:hover {
    background: #CCC;
}

#document_table .col_title {
    width: 100%;
    padding-left: 10px;
}
#document_table tbody tr td {
    padding: 2px 40px;
}
#document_table .col_word_count {
    padding-right:10px;
}
#document_table .col_created, #document_table .col_modified, #document_table .col_word_count {
    white-space: nowrap;
    text-align: center;
}

#inst_login > table {
    margin:0 auto;
    border: 1px solid #000;
    border-spacing: 30px 10px;
}
#inst_login > table td{
    text-align:center;
}

#pedagogue_activate_form, #institution_activate_form {
    border:1px solid #000;
    width:220px;
    padding:10px;
    display:block;
    text-align:center;
    background:#BBB;
}
#pedagogue_activate_form:hover, #institution_activate_form:hover {
    background:#DDD;
}
#institution_login, #pedagogue_activate_form {
    display:none;
}

#topmenu {
    float:left;
    width:100%;
    border-bottom:1px solid #000;
    margin:10px 0 20px 0;
    padding-bottom: 10px;
}

#main-navigation {
    margin: 0;
    float: right;
    padding: 0;
}

#main-navigation > li{
    float: left;
    margin: 0 0 0 5px;
    list-style-type: none;
}

#main-navigation > li > a {
    display: block;
    height:32px;
    background:url('/static/images/buttons.png');
}
#main-navigation > li > a:hover {

}
#main-navigation > li > a > img{
    vertical-align:middle;
    padding-right:1px;
}
#main-navigation li:first-child {
    margin: 0 0 0 0;
}
#main-navigation #link-documentation {
    width:123px;
}
#main-navigation #link-documentation:hover,
#main-navigation #link-documentation.topmenu-active,
#section-header.documentation {
    background-position:0 -32px;
}
body>#main.section-documentation {
    background:url('/static/images/trans-documentation.png');
    border:2px solid #4B538B;
}
#main-navigation #link-curriculum {
    background-position: 0 -64px;
    width:102px;
}
#main-navigation #link-curriculum:hover,
#main-navigation #link-curriculum.topmenu-active,
#section-header.curriculum {
    background-position: 0 -96px;

}
body>#main.section-curriculum {
    background:url('/static/images/trans-curriculum.png');
    border:2px solid #D60257;
}
#main-navigation #link-evaluation {
    background-position: 0 -128px;
    width:102px;
}
#main-navigation #link-evaluation:hover,
#main-navigation #link-evaluation.topmenu-active,
#section-header.evaluation {
    background-position: 0 -160px;
}
body>#main.section-evaluation {
    background:url('/static/images/trans-evaluation.png');
    border:2px solid #E45635;
}
#main-navigation #link-other {
    background-position: 0 -192px;
    width:71px;
}
#main-navigation #link-other:hover,
#main-navigation #link-other.topmenu-active,
#section-header.other {
    background-position: 0 -224px;
}
#main-navigation #link-logout {
    background-position: 0 -256px;
    width:75px;
}
#main-navigation #link-logout:hover  {
    background-position: 0 -288px;
}

body>#main.section-other {
    background: url('/static/images/trans-other.png');
    border: 2px solid #E45635;
}

/* User profile page */
#userprofile {
    width:100%;
}
#userprofile td {
    border:none;
}
td.userprofile_col_attr {
    width:150px;
}
td.userprofile_col_content input {
    width:250px;
}
td.userprofile_col_content {
    width:auto;
}
td.userprofile_col_content input[disabled] {
    background: #ebebe4;
}
#userprofile_image {
    vertical-align:top;
    width:0;
}
span.error_message {
    color: #f00;
    font-weight: 600;
}
